# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Vagrant path
.vagrant/

# Build paths
bin
obj

*.swp
*.swo

src/wenova_debug
src/wenova_release

*.a
